<div class="row">
  <div class="small-12 columns">
    <h2>Edit Your Profile</h2>
  </div>
</div>

<div class="row">
  <%= simple_form_for @user do |f| %>
    <div class="small-12 medium-6 columns">
      <%= render partial: 'fields', locals: {f: f} %>
      <%= f.button :submit, "Update Profile", class: 'button' %>
    </div>
  <% end %>

  <div class="small-12 medium-6 columns">
    <% if @user.photo.present? %>
      <h5>Your Current Photo</h5>
      <%= image_tag @user.photo.url(:medium) %>
    <% end %>
  </div>
</div>

