<%- provide(:title, "Welcome to Proposals.") %>

<div class="row">
  <div class="small-12 columns">
    <h1>Proposals</h1>
    <h4>Better than your enagement.</h4>
    <%= link_to 'Sign Up w/ GitHub to Submit', '/auth/github' %>
  </div>
</div>
