<li class="proposal">
  <h2 class="title"><%= proposal.title %></h2>
  <div class="abstract"><%= proposal.abstract %></div>
  <div class="pitch"><%= proposal.pitch %></div>
  <div class="notes"><%= proposal.notes %></div>
</li >
