<div class="row">
  <div class="proposals small-12 columns">
    <h1>Your Proposals</h1>
    <% if past_cutoff_date? %>
      <h4>Proposals are now closed.</h4>
    <% else %>
      <h4>Closes <%= ApplicationHelper::CutoffDate %></h4>
    <% end %>

    <% if @proposals.blank? %>
      <p>Here is where you will see your proposals. You have not made one yet
        though, bummer! Submit one by clicking the big ole button below. Even if
        you are still drafting out your proposal, just go for it. You can edit
        it at any time.</p>
    <% end %>

    <ul class="small-block-grid-1 medium-block-grid-2">
      <%= render partial: 'proposal_list', collection: @proposals, as: :proposal %>
    </ul>

    <% unless past_cutoff_date? %>
      <%= link_to "Submit a Proposal", new_proposal_path, class: "button" %>
    <% end %>
  </div>
</div>
