<div class="row">
  <div class="small-12 columns">
    <h1>Proposals</h1>

    <ul class="small-block-grid-3">
      <%= render partial: 'proposal_list', collection: @proposals, as: :proposal %>
    </ul>
  </div>
</div>
