<div class="row">
  <div class="proposals small-12 columns">
    <h1>Your Proposals</h1>

    <ul class="small-block-grid-1 medium-block-grid-2">
      <%= render partial: 'proposal_list', collection: @proposals, as: :proposal %>
    </ul>

    <%= link_to "Submit Proposal", new_proposal_path, class: "button small" %>
  </div>
</div>
