<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Burlington Ruby CFP</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li>{{link-to "<i class='fi-clipboard-pencil'></i> Voting" 'index'}}</li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </section>
</nav>

{{outlet}}

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="medium-6 large-4 columns">
        <p>©2014 <a href='http://burlingtonrubyconference.com/'>Burlington Ruby Conference</a></p>
      </div>
      <div class="medium-6 large-8 columns">
        <ul class="inline-list right">
          <li><a href='http://burlingtonrubyconference.com/conduct.html'><i class='fi-list-thumbnails'></i> Code of Conduct</a></li>
          <li><a href='http://burlingtonrubyconference.com/diversity.html'><i class='fi-male-female'></i> Diversity Statement</a></li>
          <li><a href='https://github.com/burlingtonruby/proposals'><i class='fi-social-github'></i> GitHub</a></li>
          <li><a href='https://twitter.com/btvrubyconf'><i class='fi-social-twitter'></i> Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

