@import 'foundation/components/global';
@import 'foundation-icons';

textarea {
  resize: vertical;
  height: 16em;
}

[title=required] {
  color: $alert-color;
}

.tabs dd a {
  font-weight: bold;
}

.tabs-content {
  margin-bottom: 0;
}

.user-info dl {
  overflow: hidden;
  dt, dd {
    float: left;
  }
  dt {
    clear: left;
    width: 75px;
  }
}

.voting {
  .proposal {
    label {
      font-size: 24px;
      font-weight: bold;
    }

    :checked + label {
      color: $success-color;
    }
  }
}
