@import 'foundation/components/global';
@import 'foundation-icons';

textarea {
  resize: vertical;
  height: 16em;
}

[title=required] {
  color: $alert-color;
}

.voting .proposal label {
  font-size: 22px;
  font-weight: bold;
}

.voting .proposal :checked + label {
   color: $success-color;
}
