@import 'foundation/components/global';
@import 'foundation-icons';
@import "foundation/components/buttons";

textarea {
  resize: vertical;
  height: 16em;
}

[title=required] {
  color: $alert-color;
}

.tabs dd a {
  font-weight: bold;
}

.tabs-content {
  margin-bottom: 0;
}

.user-info dl {
  overflow: hidden;
  dt, dd {
    float: left;
  }
  dt {
    clear: left;
    width: 75px;
  }
}

.voting {
  .proposal {
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    &.selected .title {
      color: $success-color;
    }
  }
  .tabs {
    .active {
      border: 1px solid #ccc;
      border-bottom: none;
    }
    .actions span {
      @include button($padding: 0.3rem, $radius: 5px);
      margin: 15px 0 0 15px;
      display: block;
      &.selected {
        @include button-style($bg: $success-color);
      }
    }
  }
  .tabs-content {
    border: 1px solid #ccc;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
