<div class="row voting">
  <div class="proposals small-12 columns">
    <h1>Voting for <%= current_round.text %></h1>

    <%= form_tag bulk_create_votes_path do %>
      <%= render partial: 'proposal', collection: @proposals %>
      <%= submit_tag "Submit Votes", class: "button" %>
    <% end %>
  </div>
</div>
