<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Proposals", root_path %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
   <ul class="right">
     <li><%= link_to "View Proposals", proposals_path %></li>
     <li></li>
     <li></li>
   </ul>
  </section>
 </nav>
